<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <define name="EXECUTION_LOG_LEVEL"
            class="pe.com.challenge.automation.utilities.ExecutionLogLevelPropertyDefiner"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="${EXECUTION_LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
